%% -*- mode: erlang -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [warnings_as_errors,
            debug_info,
            {platform_define, "^[0-9]+", namespaced_types}]}.

{edoc_opts, [{preprocess, true}]}.
{cover_enabled, true}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.

{profiles, [
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.

{deps, [
        {riak_core, ".*", {git, "https://github.com/basho/riak_core.git", {branch, "develop"}}}
       ]}.

{plugins, [{eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.
