%% -*- mode: erlang -*-
{erl_opts, [warnings_as_errors, debug_info,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}]}.
{edoc_opts, [{preprocess, true}]}.
{cover_enabled, true}.
{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - cluster_info : Mod)", []}]}.
{deps, [
       {riak_core, ".*", {git, "git://github.com/basho/riak_core.git", {tag, "riak_kv-2.9.1"}}}
       ]}.
