%% -*- mode: erlang -*-
{erl_opts, [warnings_as_errors,
            debug_info,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}]}.
{edoc_opts, [{preprocess, true}]}.
{cover_enabled, true}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.

{deps, [
        {riak_core, ".*", {git, "git://github.com/basho/riak_core.git", {tag, "riak_kv-3.0.0"}}}
       ]}.

{plugins, [{eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.
